---
import type { Props } from '@astrojs/starlight/props';

import '../assets/orbit.min.css';
import '../assets/landing.css';
import orbitJS from '../assets/orbit.min.js?url';

const { data } = Astro.props.entry;
---

<div class="orbitron paused-animations ">
<!-- alert -->
 <section class="o-alert" style="margin-top: 50px !important; text-align: center; color: var(--secondary-color);">
  <img src="/orbit-docs/favicon.svg" width="24" style="vertical-align: text-top;"> Orbit requires some CSS selectors or functions that are not supported.
  <br>Please, update this browser to use Orbit.
 </section>
<!-- logo -->
<section class="features logo" >
  
  <div class="bigbang container-gyro" style="height: var(--o-bigbang); --o-bigbang:499px; ">
    <div class="gravity-spot gyro" style="
    perspective: 300px; transform-style: preserve-3d;
    ">
    <div class="orbit-15 range-90 from-179">
      <o-arc  style="--o-color: var(--primary-color)"  class="outer-orbit shrink-80"></o-arc>
      <div class="satellite logo-ball"></div>
    </div>
      <div class="orbit-10 range-120">
        <o-arc style="color: var(--primary-color); font-size: 28px;" >The CSS radial composer</o-arc>
      </div>
      <div class="orbit-10 from-120 range-240" style="transform: translateZ(-15px);">
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
        <div class="vector shrink-10 outer-orbit dashed-small"></div>
      </div>
      <div class="orbit-8" style="transform: translateZ(-35px);">
        <o-arc value="25" class="from-215 shrink-70 outer-orbit" style="--o-color: var(--tertiary-color); "></o-arc>
      </div>
      <div class="orbit-8 " >
        <o-arc value="25" class="from-315 shrink-80 inner-orbit" style="--o-color: var(--primary-color)"></o-arc>
      </div>
      <div class="orbit-8  from-48 range-130">
        <o-arc class=" shrink-40 outer-orbit" style="--o-color: var(--primary-color); opacity: .6;"></o-arc>
      </div>
      <div class="orbit-6 from-180 range-100"  >
        <div class="vector shrink-40 outer-orbit dashed-big"></div>
        <div class="vector shrink-40 outer-orbit dashed-big"></div>
        <div class="vector shrink-40 outer-orbit dashed-big"></div>
        <div class="vector shrink-40 outer-orbit dashed-big"></div>
        <div class="vector shrink-40 outer-orbit dashed-big"></div>
        <div class="vector shrink-40 outer-orbit dashed-big"></div>
        <div class="vector shrink-40 outer-orbit dashed-big"></div>
        <div class="vector shrink-40 outer-orbit dashed-big"></div>
        <div class="vector shrink-40 outer-orbit dashed-big"></div>
        <div class="vector shrink-40 outer-orbit dashed-big"></div>
        <div class="vector shrink-40 outer-orbit dashed-big"></div>
        <div class="vector shrink-40 outer-orbit dashed-big"></div>
        <div class="vector shrink-40 outer-orbit dashed-big"></div>
        <div class="vector shrink-40 outer-orbit dashed-big"></div>
        <div class="vector shrink-40 outer-orbit dashed-big"></div>
        <div class="vector shrink-40 outer-orbit dashed-big"></div>
        <div class="vector shrink-40 outer-orbit dashed-big"></div>
        <div class="vector shrink-40 outer-orbit dashed-big"></div>
      </div>
      <div class="orbit-6" style="transform: translateZ(-45px);">
        <o-arc value="40" class="from-10 shrink-40" style="--o-color: var(--tertiary-color)"></o-arc>
      </div>
      <div class="orbit-8 from-320" style="transform: translateZ(-90px);">
        <o-arc value="40" class="shrink-40" style="--o-color: var(--primary-color);"></o-arc>
      </div>
      <div class="orbit-8  from-30" style="transform: translateZ(-100px);">
        <o-arc  class="shrink-60" style="--o-color: var(--primary-color);"></o-arc>
        <o-arc  class="shrink-60" style="--o-color: transparent"></o-arc>
        <o-arc  class="shrink-60" style="--o-color: var(--primary-color);"></o-arc>
        <o-arc  class="shrink-60" style="--o-color: transparent"></o-arc>
      </div>
      <div class="orbit-13  from-100" style="transform: translateZ(-125px);">
        <o-arc value="40" class="shrink-90 inner-orbit" style="--o-color: var(--primary-color);"></o-arc>
      </div>
      <div class="orbit-7 from-185 range-80" style="transform: translateZ(-55px);">
        <o-arc class="  grow-1.5x" style="--o-color: var(--o-cyan-dark); opacity: .6;"></o-arc>
      </div>
      <div class="orbit-0" style="font-size: 30px; color:white">ORBIT</div>
    </div>
  </div>
</section>
<!-- CTA -->
<section class="features action" >
  <div class="bigbang" style="height: var(--o-bigbang); --o-bigbang:546px; ">
    <div class="gravity-spot">
      
      <div class="orbit-10 range-180 from-0 ">
        <o-arc  style="--o-color: var(--primary-color); --o-gap: 0;"  class="outer-orbit shrink-80"></o-arc>
        <div class="satellite action-ball"></div>
      </div>
      <div class="orbit-6 range-90 from-270 action-sector ">
        <o-arc shape="circle" style="--o-color: var(--primary-color); --o-gap: 0;" ></o-arc>
      </div>
      
      <div class="buttons orbit-0 gooey-fx-max from-0">
        
        <div class="satellite">
          <div class="gravity-spot">
            <div class="orbit-10">
              <div class="satellite grow-6x angle-270" style="background: transparent;border: 0px dashed var(--primary-color)">
                <div class="gravity-spot">
                  <div class="orbit-10 github-animation">
                    <div class="github satellite small inner-orbit angle-120 grow-2x " style="">
                      <div class="capsule button" >
                        <a href="https://github.com/zumerlab/orbit" target="_blank">GitHub</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <div class="satellite grow-3x small">
          <div class="capsule button">
            <a href="/orbit-docs/introduction">Get <br> started</a>
          </div>
        </div>

        
      </div>
    </div>
  </div>
</section>
<!-- TEXT -->
<section class="features component-text">
  <div class="bigbang " style="height: var(--o-bigbang); --o-bigbang:499px; ">
    <div class="gravity-spot">
      <div class="orbit-15 range-90 from-270">
        <o-arc  style="--o-color: var(--primary-color); --o-gap: 0;"  class="outer-orbit shrink-80"></o-arc>
        <div class="satellite text-ball"></div>
      </div>
    
      <div class="orbit-6">
        <div class="satellite angle-0">
          <div class="capsule" style="flex-direction: column; width: 500px; font-size: 20px; color: white; text-align: center;">
            <br><br> <h2>Save time and have fun <br> building radial UIs!
             </h2><br><br>
              <h2>Just combine Orbit CSS elements</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- 1ST COMPONENT CURVE -->
<section class="features components-1" style="">
  <div class="bigbang" style="height: var(--o-bigbang); --o-bigbang:300px; ">
    <div class="gravity-spot">
      <div class="orbit-12 range-175 from-351">
        <o-arc  style="--o-color: var(--primary-color)"  class="shrink-70"></o-arc>
        <div class="satellite component-ball"></div>
      </div>
     
      <div class="orbit-12">
        
        <div class="satellite grow-3x orbits noactivecomponent" style="">
          <div class="gravity-spot">
            <div class="gravity-spot case" style="--o-force: 100px; scale: 0">
              <div class="orbit-3" style="border: 1px solid var(--secondary-color)"></div>
              <div class="orbit-6" style="border: 1px solid var(--secondary-color)"></div>
              <div class="orbit-9" style="border: 1px solid var(--secondary-color)"></div>
              <div class="orbit-12" style="border: 1px solid var(--secondary-color)"></div>
            
            </div>
            <div class="orbit-4 label" style="opacity: 0">
              <div class="satellite angle-180 button ">
                orbits
              </div>
            </div>
            
            
          </div>
        </div>

        <div class="satellite grow-3x satellites noactivecomponent">
          <div class="gravity-spot">
            <div class="gravity-spot case" style="--o-force: 100px; scale: 0">
              <div class="orbit" ></div>
              <div class="orbit-5" >
                <div class="satellite grow-2x" style="border: 1px solid var(--secondary-color)"></div>
                <div class="satellite grow-2x" style="border: 1px solid var(--secondary-color)"></div>
                <div class="satellite grow-2x" style="border: 1px solid var(--secondary-color)"></div>
                <div class="satellite grow-2x" style="border: 1px solid var(--secondary-color)"></div>
                <div class="satellite grow-2x" style="border: 1px solid var(--secondary-color)"></div>
              </div>
              <div class="orbit-11">
                <div class="satellite grow-2x" style="border: 1px solid var(--secondary-color)"></div>
                <div class="satellite grow-2x" style="border: 1px solid var(--secondary-color)"></div>
                <div class="satellite grow-2x" style="border: 1px solid var(--secondary-color)"></div>
                <div class="satellite grow-2x" style="border: 1px solid var(--secondary-color)"></div>
                <div class="satellite grow-2x" style="border: 1px solid var(--secondary-color)"></div>
                <div class="satellite grow-2x" style="border: 1px solid var(--secondary-color)"></div>
                <div class="satellite grow-2x" style="border: 1px solid var(--secondary-color)"></div>
                <div class="satellite grow-2x" style="border: 1px solid var(--secondary-color)"></div>
                <div class="satellite grow-2x" style="border: 1px solid var(--secondary-color)"></div>
                <div class="satellite grow-2x" style="border: 1px solid var(--secondary-color)"></div>
                <div class="satellite grow-2x" style="border: 1px solid var(--secondary-color)"></div>
                <div class="satellite grow-2x" style="border: 1px solid var(--secondary-color)"></div>
              </div>
            </div>
            <div class="orbit-4  label" style="opacity: 0">
              <div class="satellite angle-180 button">
                satellites
              </div>
            </div>
          </div>
        </div>
        <div class="satellite grow-3x sectors noactivecomponent">
          <div class="gravity-spot"> 
            <div class="gravity-spot case" style="--o-force: 100px; scale: 0">
              <div class="orbit-4">
                <o-arc  class="gap-1 grow-2x" style="--o-color: var(--secondary-color)"></o-arc>
                <o-arc  class="gap-1" style="--o-color: var(--secondary-color)"></o-arc>
                <o-arc  class="gap-1 grow-2x" style="--o-color: var(--secondary-color)"></o-arc>
                <o-arc  class="gap-1" style ="--o-color: var(--secondary-color)"></o-arc>
                <o-arc  class="gap-1 grow-2x" style ="--o-color: var(--secondary-color)"></o-arc>
                <o-arc  class="gap-1 grow-3x" style ="--o-color: var(--secondary-color)"></o-arc>
                <o-arc  class="gap-1 grow-2x" style ="--o-color: var(--secondary-color)"></o-arc>
              </div>
              <div class="orbit-11" style="--o-color: var(--secondary-color)">
                <o-arc  class="gap-1 grow-2x" style="--o-color: var(--secondary-color)"></o-arc>
                <o-arc  class="gap-1" style="--o-color: var(--secondary-color)"></o-arc>
                <o-arc  class="gap-1 grow-2x" style="--o-color: var(--secondary-color)"></o-arc>
                <o-arc  class="gap-1 grow-3x" style="--o-color: var(--secondary-color)"></o-arc>
                <o-arc  class="gap-1 grow-2x" style="--o-color: var(--secondary-color)"></o-arc>
              </div>
            </div>
            <div class="orbit-4  label" style="opacity: 0">
              <div class="satellite angle-180 button">
                arcs 
              </div>
            </div>
          </div>
        </div>
        <div class="satellite grow-3x progresss noactivecomponent" >
          <div class="gravity-spot">
            <div class="gravity-spot case" style="--o-force: 100px; scale: 0">
              <div class="orbit-7">
                <o-progress  value="40"/> 
              </div>
              <div class="orbit-9">
                <o-progress  value="60"/> 
              </div>
              <div class="orbit-11">
                <o-progress  value="80"/> 
              </div>
            </div>
            <div class="orbit-4  label" style="opacity: 0">
              <div class="satellite angle-180 button">
                progress
              </div>
            </div>
          </div>
        </div>
        <div class="satellite grow-3x spokes noactivecomponent">
          <div class="gravity-spot">
            <div class="gravity-spot case" style="--o-force: 100px; scale: 0">
              <div class="orbit-11">
                <div class="vector grow-1x" style="background-color: var(--secondary-color)"></div>
                <div class="vector grow-1x" style="background-color: var(--secondary-color)"></div>
                <div class="vector grow-1x" style="background-color: var(--secondary-color)"></div>
                <div class="vector grow-1x" style="background-color: var(--secondary-color)"></div>
                <div class="vector grow-1x" style="background-color: var(--secondary-color)"></div>
                <div class="vector grow-1x" style="background-color: var(--secondary-color)"></div>
                <div class="vector grow-1x" style="background-color: var(--secondary-color)"></div>
                <div class="vector grow-1x" style="background-color: var(--secondary-color)"></div>
                <div class="vector grow-1x" style="background-color: var(--secondary-color)"></div>
                <div class="vector grow-1x" style="background-color: var(--secondary-color)"></div>
                <div class="vector grow-1x" style="background-color: var(--secondary-color)"></div>
                <div class="vector grow-1x" style="background-color: var(--secondary-color)"></div>
              </div>
            </div>
            <div class="orbit-4  label" style="opacity: 0">
              <div class="satellite angle-180 button">
                vectors
              </div>
            </div>
          </div>
        </div>
        <div class="satellite grow-3x segments noactivecomponent" >
          <div class="gravity-spot">
            <div class="gravity-spot case" style="--o-force: 100px; scale: 0">
              <div class="orbit-11">
                <div class="side" style="background-color: var(--secondary-color)"></div>
                <div class="side" style="background-color: var(--secondary-color)"></div>
                <div class="side" style="background-color: var(--secondary-color)"></div>
                <div class="side" style="background-color: var(--secondary-color)"></div>
                <div class="side" style="background-color: var(--secondary-color)"></div>
                <div class="side" style="background-color: var(--secondary-color)"></div>
              </div>
              <div class="orbit-11 from-90">
                <div class="side" style="background-color: var(--secondary-color)"></div>
                <div class="side" style="background-color: var(--secondary-color)"></div>
                <div class="side" style="background-color: var(--secondary-color)"></div>
                
              </div>
            </div>
            <div class="orbit-4  label" style="opacity: 0">
              <div class="satellite angle-180 button" >
                sides
              </div>
            </div>
          </div>
        </div>
        <div class="satellite grow-3x curved-text noactivecomponent">
          <div class="gravity-spot">
            <div class="gravity-spot case" style="--o-force: 100px; scale: 0">
              <div class="orbit-10">
                <o-arc label-color="var(--secondary-color)" fit-range class="component-label">curved texts  -  curved texts - </o-arc>
              </div>
            </div>
            <div class="orbit-4  label" style="opacity: 0">
              <div class="satellite angle-180 button">
                <div class="capsule" style="width: 150px">curved texts</div>
               
              </div>
            </div>
          </div>
        </div>
        
      </div>
      
    </div>
  </div>
</section>
<section class="features components-2" style="">
  <div class="bigbang" style="height: var(--o-bigbang); --o-bigbang:705px; ">
    <div class="gravity-spot">
      
      <div class="orbit-4">
        <div class="satellite angle-90" >
          <div class="gravity-spot">
            <div class="orbit-12 range-164 from-190">
              <o-arc  style="--o-color: var(--primary-color)"  class="shrink-70"></o-arc>
              <div class="satellite amazing-ball"></div>
            </div>
            <div class="orbit-0">
              <div class="satellite" style="background:transparent; border:none; width: 500px; font-size: 20px; color: white; text-align: center;">
                <div class="capsule"><h2>... to create an amazing UI, <br>like the example below</h2></div>
              </div>
            </div>
      
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="features example" style="">
  <div class="bigbang" style="height: var(--o-bigbang); --o-bigbang:235px; ">
    <div class="gravity-spot">
      
      <div class="orbit-0">
        <div class="satellite angle-90" >
          <div class="gravity-spot">
            <div class="orbit-11 range-230 from-8">
              <o-arc  style="--o-color: var(--primary-color)"  class="shrink-70"></o-arc>
              <div class="satellite lastaction-ball"></div>
            </div>
            <div class="orbit-11 shrink-80 range-90 from-180">
              <o-arc  style="--o-text-color: white; font-size: 18px"  class="flip">* Press buttons!</o-arc>
            </div>
           
            
          </div>
        </div>
      </div>
      <div class="orbit-14">
        <div class="satellite angle-180">
          <div class="capsule display-color" style="
            width: 300px;
            border-radius: 10px;
            border: 1px solid var(--primary-color);
            padding: 8px;
            font-weight: var(--orbit-weight, normal);
            font-style: var(--orbit-italic, normal);
            text-decoration: var(--orbit-underline, none);
            justify-content: var(--orbit-align, center);
            font-size: var(--orbit-size, medium);
            ">Piemenu demo text</div>
          </div>  
      </div> 
     
      
     

   

    </div>
    <!-- example -->
     
    <div class="gravity-spot menu-example" style="--o-force: 600px">
      <div class="orbit-6 shrink-10 colors option-color" style="pointer-events: all"></div>
      <div class="orbit-0">
        <div class="satellite at-center ">MENU</div>
      </div>
      <div class="orbit-3">
        <o-arc class="grow-1x control-size" style="--o-color: var(--o-gray-light); --o-hover-color: var(--o-gray);" onclick="handleClick('size')"></o-arc>
        <o-arc class="grow-1x control-format" style="--o-color: var(--o-gray-light); --o-hover-color: var(--o-gray);" onclick="handleClick('format')"></o-arc>
        <o-arc class="grow-1x control-color" style="--o-color: var(--o-gray-light); --o-hover-color: var(--o-gray);" onclick="handleClick('color')"></o-arc>
      </div>
      <div class="orbit-4 shrink-10">
        <o-arc class="shrink-60 active-size" style="--o-color: var(--o-gray-darker); --o-hover-color: var(--o-gray);"></o-arc>
        <o-arc class="shrink-60 active-format" style="--o-color: var(--o-gray-darker); --o-hover-color: var(--o-gray);"></o-arc>
        <o-arc class="shrink-60 active-color" style="--o-color: var(--o-gray-darker); --o-hover-color: var(--o-gray);"></o-arc>
      </div>
      <div class="orbit-3 from-60">
        <div class="satellite " style="border-color: transparent; color: var(--o-gray-darker); pointer-events: none;">
          <div class="capsule">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="var(--o-gray-darker)"><path d="M560-160v-520H360v-120h520v120H680v520H560Zm-360 0v-320H80v-120h360v120H320v320H200Z"/></svg>
          </div>
        </div>
        <div class="satellite " style="border-color: transparent; color: var(--o-gray-darker); pointer-events: none;">
          <div class="capsule">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="var(--o-gray-darker)"><path d="M80 0v-160h800V0H80Zm140-280 210-560h100l210 560h-96l-50-144H368l-52 144h-96Zm176-224h168l-82-232h-4l-82 232Z"/></svg>
          </div>
        </div>
        <div class="satellite " style="border-color: transparent; color: var(--o-gray-darker); pointer-events: none;">
          <div class="capsule">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="var(--o-gray-darker)"><path d="M346-140 100-386q-10-10-15-22t-5-25q0-13 5-25t15-22l230-229-106-106 62-65 400 400q10 10 14.5 22t4.5 25q0 13-4.5 25T686-386L440-140q-10 10-22 15t-25 5q-13 0-25-5t-22-15Zm47-506L179-432h428L393-646Zm399 526q-36 0-61-25.5T706-208q0-27 13.5-51t30.5-47l42-54 44 54q16 23 30 47t14 51q0 37-26 62.5T792-120Z"/></svg>
          </div>
        </div>
      </div>
      <div class="orbit-5 shrink-70 range-120 option-size">
        <o-arc class="outer-orbit grow-1x" style="--o-color: var(--o-gray-lighter); --o-hover-color: var(--o-gray);" onclick="handleButton('--orbit-size', 'larger')"></o-arc>
        <o-arc class="outer-orbit grow-1x" style="--o-color: var(--o-gray-lighter); --o-hover-color: var(--o-gray);" onclick="handleButton('--orbit-size', 'smaller')"></o-arc>
        <div class="satellite outer-orbit grow-1x angle-30" style="border-color: transparent; color: var(--o-gray-darker); pointer-events: none;">
          <div class="capsule">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="var(--o-gray-darker)"><path d="m40-200 210-560h100l210 560h-96l-51-143H187l-51 143H40Zm176-224h168l-82-232h-4l-82 232Zm504 104v-120H600v-80h120v-120h80v120h120v80H800v120h-80Z"/></svg>
          </div>
        </div>
        <div class="satellite outer-orbit grow-1x angle-90" style="border-color: transparent; color: var(--o-gray-darker); pointer-events: none;">
          <div class="capsule">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="var(--o-gray-darker)"><path d="m40-200 210-560h100l210 560h-96l-51-143H187l-51 143H40Zm176-224h168l-82-232h-4l-82 232Zm384-16v-80h320v80H600Z"/></svg>
          </div>
        </div>
      </div>
      <div class="orbit-5 shrink-70 from-120 range-120 option-format ">
        <o-arc class="outer-orbit grow-1x subcontrol-align" style="--o-color: var(--o-gray-lighter); --o-hover-color: var(--o-gray);" onclick="handleClick('align', true)"></o-arc>
        <o-arc class="outer-orbit grow-1x subcontrol-underline" style="--o-color: var(--o-gray-lighter); --o-hover-color: var(--o-gray);" onclick="handleButton('--orbit-underline', 'none', 'underline')"></o-arc>
        <o-arc class="outer-orbit grow-1x subcontrol-italic" style="--o-color: var(--o-gray-lighter); --o-hover-color: var(--o-gray);" onclick="handleButton('--orbit-italic', 'none', 'italic')"></o-arc>
        <o-arc class="outer-orbit grow-1x subcontrol-bold" style="--o-color: var(--o-gray-lighter); --o-hover-color: var(--o-gray);" onclick="handleButton('--orbit-weight', 'normal', 'bolder')"></o-arc>
        <div class="satellite spin-lock outer-orbit grow-1x   angle-225" style="pointer-events: none;">
          <div class="capsule">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="var(--o-gray-darker)"><path d="M272-200v-560h221q65 0 120 40t55 111q0 51-23 78.5T602-491q25 11 55.5 41t30.5 90q0 89-65 124.5T501-200H272Zm121-112h104q48 0 58.5-24.5T566-372q0-11-10.5-35.5T494-432H393v120Zm0-228h93q33 0 48-17t15-38q0-24-17-39t-44-15h-95v109Z"/></svg>
          </div>
        </div>
        <div class="satellite spin-lock outer-orbit grow-1x  angle-195" style="pointer-events: none;">
          <div class="capsule">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="var(--o-gray-darker)"><path d="M200-200v-100h160l120-360H320v-100h400v100H580L460-300h140v100H200Z"/></svg>
          </div>
        </div>
        <div class="satellite spin-lock outer-orbit grow-1x  angle-165" style="pointer-events: none;">
          <div class="capsule">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="var(--o-gray-darker)"><path d="M200-120v-80h560v80H200Zm280-160q-101 0-157-63t-56-167v-330h103v336q0 56 28 91t82 35q54 0 82-35t28-91v-336h103v330q0 104-56 167t-157 63Z"/></svg>
          </div>
        </div>
        <div class="satellite spin-lock outer-orbit grow-1x angle-135" style="pointer-events: none;">
          <div class="capsule">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="var(--o-gray-darker)"><path d="M120-120v-80h720v80H120Zm0-160v-80h480v80H120Zm0-160v-80h720v80H120Zm0-160v-80h480v80H120Zm0-160v-80h720v80H120Z"/></svg>
          </div>
        </div>
      </div>
      <div class="orbit-6 shrink-10 from-120 range-30">
        <o-arc class="shrink-60 subactive-align" style="--o-color: var(--o-gray-darker); --o-hover-color: var(--o-gray);"></o-arc>
      </div>
      <div class="orbit-7 shrink-80 from-90 range-90 suboption-align">
        <o-arc class="outer-orbit grow-1x" style="--o-color: var(--o-gray-lighter); --o-hover-color: var(--o-gray);" onclick="handleButton('--orbit-align', 'end')"></o-arc>
        <o-arc class="outer-orbit grow-1x" style="--o-color: var(--o-gray-lighter); --o-hover-color: var(--o-gray);" onclick="handleButton('--orbit-align', 'center')"></o-arc>
        <o-arc class="outer-orbit grow-1x" style="--o-color: var(--o-gray-lighter); --o-hover-color: var(--o-gray);" onclick="handleButton('--orbit-align', 'start')"></o-arc>
        <div class="satellite spin-lock outer-orbit grow-1x angle-165 " style="pointer-events: none;">
          <div class="capsule">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="var(--o-gray-darker)"><path d="M120-120v-80h720v80H120Zm0-160v-80h480v80H120Zm0-160v-80h720v80H120Zm0-160v-80h480v80H120Zm0-160v-80h720v80H120Z"/></svg>
          </div>
        </div>
        <div class="satellite spin-lock outer-orbit grow-1x angle-135" style="pointer-events: none;">
          <div class="capsule">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="var(--o-gray-darker)"><path d="M120-120v-80h720v80H120Zm160-160v-80h400v80H280ZM120-440v-80h720v80H120Zm160-160v-80h400v80H280ZM120-760v-80h720v80H120Z"/></svg>
          </div>
        </div>
        <div class="satellite spin-lock outer-orbit grow-1x angle-105" style="pointer-events: none;">
          <div class="capsule">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="var(--o-gray-darker)"><path d="M120-760v-80h720v80H120Zm240 160v-80h480v80H360ZM120-440v-80h720v80H120Zm240 160v-80h480v80H360ZM120-120v-80h720v80H120Z"/></svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="features" style="    margin-top: 90px !important; overflow: hidden; height: 600px
">
  <div class="bigbang" style="height: var(--o-bigbang); --o-bigbang:754px; ">
    <div class="gravity-spot">
      <div class="orbit-8">
        <div class="satellite angle-0" style="background:transparent; width:300px; font-size: 16px; color: white; text-align: center;">
          <div class="capsule"><h2>Transform  <br> your project today!</h2></div>
        </div>
        <div class="satellite angle-180 outer-orbit" style="background:transparent; width:300px; font-size: 16px; color: white; text-align: center;">
          <div class="capsule"><br><h2>Place your ⭐ in Orbit!  </h2></div>
        </div>
      </div>
      
            
            <div class="gravity-spot">
             
              <div class="buttons orbit-0 gooey-fx-max from-0">
                
                <div class="satellite">
                  <div class="gravity-spot">
                    <div class="orbit-10 color-display" >
                      <div class="satellite grow-6x angle-270" style="background: transparent;border: 0px dashed var(--primary-color)">
                        <div class="gravity-spot">
                          <div class="orbit-10">
                            <div class="github satellite small inner-orbit github-animatiovn angle-120 grow-2x " style="">
                              <div class="capsule button" >
                                <a href="https://github.com/zumerlab/orbit" target="_blank">GitHub</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
                <div class="satellite grow-3x small">
                  <div class="capsule button">
                    <a href="/orbit-docs/introduction">Get <br> started</a>
                  </div>
                </div>
        
                
              </div>
            </div>
    </div>
  </div>
</section>
<section class="links" style="margin: auto;max-width: 800px; margin-top: 50px !important; height: auto; color: var(--secondary-color);
  padding: 30px !important; column-count: 3;
  ">

  <h2>Documentation</h2>
  <br>
  <h4>Getting started</h4>
  <p><a href="/orbit-docs/introduction/">About Orbit</a></p>
  <p><a href="/orbit-docs/introduction/installation">Installation</a></p>
  <p><a href="/orbit-docs/examples/progress">Examples</a></p>
  <br>
  <h4>Elements</h4>
  <p><a href="/orbit-docs/elements/gravity-spot">gravity-spot</a></p>
  <p><a href="/orbit-docs/elements/orbit">orbit</a></p>
  <p><a href="/orbit-docs/elements/satellite">satellite</a></p>
  <p><a href="/orbit-docs/elements/vector">vector</a></p>
  <p><a href="/orbit-docs/elements/side">side</a></p>
  <p><a href="/orbit-docs/elements/arc">o-arc</a></p>
  <p><a href="/orbit-docs/elements/progress">o-progress</a></p>
  <p><a href="/orbit-docs/elements/capsule">capsule</a></p>
  <h4>Tools</h4>
  <p><a href="/orbit-docs/tools/support">Visual aids</a></p>
  <p><a href="/orbit-docs/tools/orbit-resize">Auto resize</a></p>
  <p><a href="/orbit-docs/tools/colors">Colors</a></p>
  <br>
  <h2>Community</h2>
  <p><a href="https://github.com/zumerlab/orbit" target="_blank">GitHub</a></p>
  <p><a href="https://t.me/ZumlyCommunity" target="_blank">Telegram</a></p>


</section>
<section class="features" style="margin-top: 120px !important; text-align: center; color: var(--secondary-color);">
 <img src="/orbit-docs/favicon.svg" width="24" style="vertical-align: text-top;"> Orbit - Copyright © 2024 <a href="https://github.com/zumerlab/">ZumerLab</a> <br> Released under <a href="https://github.com/zumerlab/orbit/blob/main/LICENSE">MIT license</a> - Made by Humans
</section>
</div>
<script type="module" src={orbitJS}></script>

<style>

  body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

  @layer alert;

  .o-alert {
    display: none;
  }
@layer alert {
  /* Check browser support */
  @supports not selector(:has(a)){	
    .features {
      display: none !important;
    }
    .o-alert {
      display: flex !important;
    }
  }
  /* Check browser support */
  @supports not (left: calc(cos(45deg) * 1px)){	
    .features {
      display: none !important;
    }
    .o-alert {
      display: flex !important;
    }
  }
}
.menu-example {
  .satellite, [class*=orbit]{
border: none
}
.colors {
--light: calc(50 * 1%);
--sat: calc(100 * 1%);
background:
conic-gradient(from 90deg,
  hsl(0, var(--sat), var(--light)),
  hsl(60, var(--sat), var(--light)),
  hsl(120, var(--sat), var(--light)),
  hsl(180, var(--sat), var(--light)),
  hsl(240, var(--sat), var(--light)),
  hsl(300, var(--sat), var(--light)),
  hsl(360, var(--sat), var(--light))
);
mask-image: radial-gradient(circle, #4a5dec00 52%, #000000 53%)
}
.option-color, .option-size, .option-format,  .active-color, .active-size, .active-format, .suboption-align, .subactive-align {
  display:none;
  opacity: 0;
  transition: opacity 1s ease-out;
}
o-arc {
  cursor: pointer;
}
}
h4, h2 {
  color: white
}

.dashed-small {
opacity: 0.4; 
height: 2px; 
background: var(--primary-color);
}

.dashed-big {
opacity: 0.8; 
height: 6px; 
background: var(--primary-color);
}

  .orbits,.satellites,.sectors,.progresss,.segments,.spokes,.curved-text {
    background-color: var(--background-color);
    border: 4px solid var(--primary-color) !important; color: var(--secondary-color) !important;
  }
 .demo-progress-container {
    background-color: var(--background-color);
    
  }
  

 
  
  
  .dev [class*='orbit-']{
 border: 1px solid #cccccc40
  }
  html {
  scroll-behavior: smooth;
  overflow-x : hidden !important
}
  .logo-ball, .feature-ball, .action-ball, .text-ball, .component-ball, .amazing-ball,.lastaction-ball {
    background-color: var(--tertiary-color);
    will-change: transform;
    
  }

  .title {
    width: 150px; 
    color:  white;
    transition: color 300ms;
  }

  .title.active {
    color: white;
  }

  .text-feature {
    width: 250px; 
    color: var(--secondary-color);
    opacity: 0;
    transition-delay: 50ms;
    transition-duration: 300ms;
    transition-property: opacity;
  }
  .text-feature.active {
    opacity: 1
  }

section {
 
width: 100%;

padding: 0 !important;
margin-top: 0 !important;
}

.connector {
  background-color: var(--main-color)
}

	/* Dark mode colors. */
:root {
--main-color: #cececf;
--background-doc-color: #062b45;
--background-color: #060f16;
--primary-color: #3da9fc;
--tertiary-color: #ef4565;
--secondary-color: #90b4ce;
/* */
--sl-color-accent-low: var(--background-color);
--sl-color-accent-high: var(--tertiary-color);
--sl-color-accent:var(--main-color);
--sl-color-black: var(--background-doc-color);
--sl-color-gray-1: #d8eefe;
--sl-color-gray-2: #d8eefe;
--sl-color-gray-3: #d8eefe;
--sl-color-gray-4: #d8eefe;
--sl-color-gray-5: var(--background-color);
--sl-color-gray-6: #d8eefe;
--sl-color-white: var(--primary-color);
}
/* Light mode colors. */
:root[data-theme='light'] {
--sl-color-accent-low: #90b4ce;
--sl-color-accent-high: #ef4565;
--sl-color-accent: var(--primary-color);
--sl-color-white: #094067;
--sl-color-gray-1: #5f6c7b;
--sl-color-gray-2: #5f6c7b;
--sl-color-gray-3: #5f6c7b;
--sl-color-gray-4: #5f6c7b;
--sl-color-gray-5: #353841;
--sl-color-gray-6: #d8eefe;
--sl-color-black: #fffffe;


}

:global(button[data-open-modal]) {
        color: #373b40;
}

:global(:root) {
--ec-frm-trmBg: #fbfafa !important;
--ec-frm-edBg: #fbfafa !important;
--ec-frm-trmTtbBg: #fbfafa !important; 
--ec-brdCol: var(--background-color);
}

:global(.expressive-code .frame) {
box-shadow: none !important;

}

:global(.expressive-code .frame.is-terminal .header) {
  display: none !important;
}
:global(.expressive-code *) {
border: none !important;
}

:global(.expressive-code pre) {
border-top-left-radius: 8px !important;
border-top-right-radius: 8px !important;
border-bottom-right-radius: 8px !important;
border-bottom-left-radius: 8px !important;
}

:global(.default) {
--sl-color-border-badge: #094067 !important;
}

:global(.site-title) {
color: var(--tertiary-color) !important;
}

:global([aria-current=page]){
  color: white !important;
}

:global(nav){
  background-color:var(--sl-color-black) !important;
}


:global(.starlight-aside--caution) {
 color: var(--sl-color-orange-high) !important;
}



:global(code) {
max-height: 250px !important;
}

.copy {
	flex-direction: column;
	gap: 1rem;
	align-items: center;
}

.copy > * {
	max-width: 50ch;
}

h1 {
	font-size: clamp(var(--sl-text-3xl), calc(0.25rem + 5vw), var(--sl-text-6xl));
	line-height: var(--sl-line-height-headings);
	font-weight: 600;
	color: var(--sl-color-white);
}

.tagline {
	font-size: clamp(var(--sl-text-base), calc(0.0625rem + 2vw), var(--sl-text-xl));
	color: var(--sl-color-gray-2);
}

.actions {
	gap: 1rem 2rem;
	flex-wrap: wrap;
	justify-content: center;
}
.orbitron {
    width: 100%;
    background: #060f16;
  }

body {
  overflow-x : hidden !important
}

@media (width <= 600px) {
  .gravity-spot{
    --o-force-ratio: 0.63;
  }
  .bigbang {
    height: calc(var(--o-bigbang) * 0.63) !important
  }

  h2 {
  font-size: calc(30px * 0.7);
}

h4 {
  font-size: calc(20px * 0.7);
}
.button {
  font-size: calc(18px * 0.8);
}

}

.paused-animations * {
  animation-play-state: paused !important;
  
}
.run-animations * {
  animation-play-state: running !important;
  
}
.demo-progress-container, .selector-innovative-frame, .selector-easy-frame, .selector-integration-frame {
  transition: all 1s;
}

.case, .label {
  transition: all 1s;
}
.case {
  will-change: scale
}
.label {
  will-change: opacity
}
</style>
<script is:inline>
	    const orbitron = document.querySelector('.orbitron');
      orbitron.style.opacity = 0;


// define vars
const logoBall = document.querySelector('.logo-ball');
const actionBall = document.querySelector('.action-ball');
const textBall = document.querySelector('.text-ball');
const amazingBall = document.querySelector('.amazing-ball');
const lastactionBall = document.querySelector('.lastaction-ball');
// components
const orbits =  document.querySelector('.orbits');
const orbitsCase =  orbits.querySelector('.case');
const orbitsLabel =  orbits.querySelector('.label');
const satellites =  document.querySelector('.satellites');
const satellitesCase =  satellites.querySelector('.case');
const satellitesLabel =  satellites.querySelector('.label');
const sectors =  document.querySelector('.sectors');
const sectorsCase =  sectors.querySelector('.case');
const sectorsLabel =  sectors.querySelector('.label');
const progresss =  document.querySelector('.progresss');
const progresssCase =  progresss.querySelector('.case');
const progresssLabel =  progresss.querySelector('.label');
const curvedText =  document.querySelector('.curved-text');
const curvedTextCase =  curvedText.querySelector('.case');
const curvedTextLabel =  curvedText.querySelector('.label');
const segments =  document.querySelector('.segments');
const segmentsCase =  segments.querySelector('.case');
const segmentsLabel =  segments.querySelector('.label');
const spokes =  document.querySelector('.spokes');
const spokesCase =  spokes.querySelector('.case');
const spokesLabel =  spokes.querySelector('.label');


 // set default styles
 logoBall.style.willChange = 'opacity';
    actionBall.style.willChange = 'opacity';
   
    textBall.style.willChange = 'opacity';
   
    amazingBall.style.willChange = 'opacity';
   
   
    logoBall.style.opacity = 0;
    actionBall.style.opacity = 0;
 
    textBall.style.opacity = 0;
  
    amazingBall.style.opacity = 1;

    lastactionBall.style.opacity = 1;
   
    
	// Reanudar todas las animaciones cuando el DOM esté completamente cargado
	window.addEventListener('DOMContentLoaded', (event) => {
    orbitron.style.opacity = 1;
    


   
  
  let ticking = false;
  
  const scrollBall = () => {
    let scroll = document.documentElement.scrollTop;
    //console.log(scroll)
   
   
    let end = window.innerWidth <= 600 ? 105 : 361
    let start = 0
   
    if (scroll >= start && scroll <= end) {
      // Calcula el porcentaje dentro del rango de scroll
      const rangeScroll = scroll - start;
      const rangeLength = end - start;
      const scrollPercent = rangeScroll / rangeLength;

      // Calcula el ángulo para esta bola
      const degrees = -90 * scrollPercent;

      // Aplica el ángulo y muestra la bola
      logoBall.style.setProperty("--o-angle-composite", `${degrees}deg`);
      logoBall.style.opacity = 1;
    } else {
      // Oculta la bola si está fuera de su rango
      logoBall.style.opacity = 0;
    }

    let end1 = window.innerWidth <= 600 ? 200 : 451
    let start1 = end + 1
   
    if (scroll >= start1 && scroll <= end1) {
      // Calcula el porcentaje dentro del rango de scroll
      const rangeScroll = scroll - start1;
      const rangeLength = end1 - start1;
      const scrollPercent = rangeScroll / rangeLength;

      // Calcula el ángulo para esta bola
      const degrees = 180 * scrollPercent - 90;

      // Aplica el ángulo y muestra la bola
      actionBall.style.setProperty("--o-angle-composite", `${degrees}deg`);
      actionBall.style.opacity = 1;
      orbitron.classList.remove("paused-animations");
      orbitron.classList.add("run-animations");
    } else {
      // Oculta la bola si está fuera de su rango
      actionBall.style.opacity = 0;
    }

    let end2 = window.innerWidth <= 600 ? 433 : 934
    let start2 = end1 + 1
   
    if (scroll >= start2 && scroll <= end2) {
      // Calcula el porcentaje dentro del rango de scroll
      const rangeScroll = scroll - start2;
      const rangeLength = end2 - start2;
      const scrollPercent = rangeScroll / rangeLength;

      // Calcula el ángulo para esta bola
      const degrees = -90 * scrollPercent ;

      // Aplica el ángulo y muestra la bola
      textBall.style.setProperty("--o-angle-composite", `${degrees}deg`);
      textBall.style.opacity = 1;
    } else {
      // Oculta la bola si está fuera de su rango
      textBall.style.opacity = 0;
    }

    let end3 = window.innerWidth <= 600 ? 1056 : 2075
    let start3 = window.innerWidth <= 600 ? 807 : 1559
   
    if (scroll >= start3 && scroll <= end3) {
      // Calcula el porcentaje dentro del rango de scroll
      const rangeScroll = scroll - start3;
      const rangeLength = end3 - start3;
      const scrollPercent = rangeScroll / rangeLength;

      // Calcula el ángulo para esta bola
      const degrees = -160 * scrollPercent + 70;

      // Aplica el ángulo y muestra la bola
      amazingBall.style.setProperty("--o-angle-composite", `${degrees}deg`);
      amazingBall.style.opacity = 1;
    } else {
      // Oculta la bola si está fuera de su rango
      amazingBall.style.opacity = 0;
    }

    let end4 = window.innerWidth <= 600 ? 1375 : 2423
    let start4 = end3 + 1
   
    if (scroll >= start4 && scroll <= end4) {
      // Calcula el porcentaje dentro del rango de scroll
      const rangeScroll = scroll - start4;
      const rangeLength = end4 - start4;
      const scrollPercent = rangeScroll / rangeLength;

      // Calcula el ángulo para esta bola
      const degrees = 230 * scrollPercent - 90 ;

      // Aplica el ángulo y muestra la bola
      lastactionBall.style.setProperty("--o-angle-composite", `${degrees}deg`);
      lastactionBall.style.opacity = 1;
    } else {
      // Oculta la bola si está fuera de su rango
      lastactionBall.style.opacity = 0;
    }

let ancho3 = window.innerWidth <= 600 ? 450 : 950
let checkorbits = false
if (scroll >= ancho3 ) {
  textBall.style.opacity = 0
  if (!checkorbits) {
    orbitsCase.style.scale = 1;
    orbitsLabel.style.opacity = 1;
    
  }
  checkorbits = true
} 
let ancho4 = window.innerWidth <= 600 ? 550 : 1101
let checksatellites = false
if (scroll >= ancho4 ) {
  if (!checksatellites) {
    satellitesCase.style.scale = 1;
    satellitesLabel.style.opacity = 1;
   curvedTextCase.style.scale = 1;
   curvedTextLabel.style.opacity = 1;
   checksatellites = true
} 
}
let checksectors = false
let ancho5 = window.innerWidth <= 600 ? 650 : 1190
if (scroll >= ancho5 ) {
  if (!checksectors) {
    sectorsCase.style.scale = 1;
    sectorsLabel.style.opacity = 1;
    segmentsCase.style.scale = 1;
   segmentsLabel.style.opacity = 1; 
  } 
  checksectors = true
  
} 

let checkprogress = false
var ancho6 = window.innerWidth <= 600 ? 650 : 1300
if (scroll >= ancho6 ) {
  if (!checkprogress) {
    progresssCase.style.scale = 1;
    progresssLabel.style.opacity = 1;
    spokesCase.style.scale = 1;
   spokesLabel.style.opacity = 1;
  
  }
  checkprogress = true
  
  } 
}


  window.addEventListener('scroll', onScroll, {passive: true});

function onScroll() {
    if (!ticking) {
        window.requestAnimationFrame(() => {
            scrollBall();
            ticking = false;
        });

        ticking = true;
    }
}
	 

	});

</script>

<script is:inline>
  function handleClick(button, subcontrol = false) {
   
      if (!subcontrol) {
          let otherButtons = document.querySelectorAll('[class*=option-]')
          let otherButtons1 = document.querySelectorAll('[class*=suboption-]')
          let otherActive = document.querySelectorAll('[class*=active-]')
          let otherActive1 = document.querySelectorAll('[class*=subactive-]')
          let group = [...otherButtons, ...otherButtons1, ...otherActive, ...otherActive1]
          group.forEach(b => {
              b.style.display = 'none'
              b.style.opacity = 0
          })
  
          let control = document.querySelector(`.option-${button}`)
          let active = document.querySelector(`.active-${button}`)
  
          if (control.classList.contains('active')) {
              control.style.display = 'none'
              control.style.opacity = 0;
              control.classList.remove('active')
              active.style.display = 'none'
              active.style.opacity = 0;
          } else {
              control.style.display = 'flex'
              control.style.opacity = 1;
              control.classList.add('active')
              active.style.display = 'flex'
              active.style.opacity = 1;
          }
      } else {
          let otherButtons1 = document.querySelectorAll('[class*=suboption-]')
          let otherActive1 = document.querySelectorAll('[class*=subactive-]')
          let group = [...otherButtons1, ...otherActive1]
          group.forEach(b => {
              b.style.display = 'none'
              b.style.opacity = 0
          })
          let subcontrol = document.querySelector(`.suboption-${button}`)
          let subactive = document.querySelector(`.subactive-${button}`)
        if (subcontrol && subactive) {
              subcontrol.style.display = 'flex'
              subcontrol.style.opacity = 1;
              subactive.style.display = 'flex'
              subactive.style.opacity = 1;
         }
      }
  }
  

  </script>
  <script is:inline>
    // Función para manejar la selección de color
    function handleColorSelection(event) {
      if (event.type === 'touchmove') {
      event.preventDefault(); // Prevenir el scroll predeterminado
    }
      // Asegurarse de que .option-color esté visible antes de procesar
      const colorOption = document.querySelector('.option-color');
      if (!colorOption || colorOption.style.display === 'none') return;
  
      // Detectar la posición del mouse o el toque
let clientX, clientY;
if (event.type === 'mousemove') {
  clientX = event.clientX; // Para el mouse
  clientY = event.clientY;
} else if (event.type === 'touchmove') {
  clientX = event.touches[0].clientX; // Para el toque
  clientY = event.touches[0].clientY;
}

// Obtener la posición y el tamaño del contenedor .option-color
const rect = colorOption.getBoundingClientRect();
const { left, top, width, height } = rect;

// Calcular el centro del contenedor
const centerX = left + width / 2;
const centerY = top + height / 2;

// Calcular la posición del mouse/touch respecto al centro
const x = clientX - centerX;
const y = clientY - centerY;

// Calcular el ángulo en radianes y convertirlo a grados
let angle = Math.atan2(y, x) * (180 / Math.PI);

// Normalizar el ángulo para que esté en el rango [0, 360]
if (angle < 0) {
  angle += 360;
}

// El ángulo corresponde directamente al valor de tono (hue)
const hue = angle;

  
      // Calcular el color en HSL
      const hslColor = `hsl(${hue}, 100%, 50%)`;
  
      // Actualizar el color de la visualización en .display-color
      const colorDisplay = document.querySelector('.display-color');
      if (colorDisplay) {
        colorDisplay.style.color = hslColor;
        colorDisplay.style.borderColor = hslColor;
      }
    }
  
    // Asignar los eventos de movimiento de mouse y toque a .option-color
    const colorOption = document.querySelector('.option-color');
    if (colorOption) {
      // Detectar movimiento del mouse
      colorOption.addEventListener('mousemove', handleColorSelection);
  
      // Detectar movimiento táctil (móviles)
      colorOption.addEventListener('touchmove', handleColorSelection), { passive: false };
    }
  </script>

<script is:inline>
  // Función para manejar la selección de color
  function handleButton(cssVar, value1, value2 = false)  {

    // Asegurarse de que .option-color esté visible antes de procesar
    const element = document.querySelector('.display-color');

    if (cssVar === '--orbit-weight') handleClick('bold', true)
    if (cssVar === '--orbit-italic') handleClick('italic', true)
    if (cssVar === '--orbit-underline') handleClick('underline', true)

    let state = getComputedStyle(element).getPropertyValue(cssVar)
    if (value2) {
      if (state === value1) {
      element.style.setProperty(
          cssVar,
          value2
        )
    } else {
      element.style.setProperty(
          cssVar,
          value1
        )
    }
    } else {
      element.style.setProperty(
          cssVar,
          value1
        )
    }
    
  }
   
</script>
  
  